<div class="container">
	<div class="sidebar  rounded-lg mdb-color lighten-5 text-small">
		<form method="POST" action="/modifylist" id="formlist">
			<div class="white m-2 p-2 rounded-lg">
				<span class="font-weight-bolder">
					<i class="indigo-text fas fa-shopping-cart"></i>
					Transacción
				</span>
				<div class="d-flex justify-content-between">
					<span class="custom-control-inline ">Comprar</span>
					<div class="custom-control-inline">
						<label class="switch-long ">
							<input type="checkbox" class="form-control" id="transaccion" name="transaccion"
								{{#if transaccion.ischeck}} checked{{/if}} onchange="chTransaccion()">
							<span class="slider-long "></span>
						</label>
					</div>
					<span class="custom-control-inline ">Alquilar</span>
				</div>

			</div>

			<div class="white m-2 p-2 rounded-lg ">
				<span class="font-weight-bolder">
					<i class="indigo-text fas fa-map-marked-alt "></i>
					Provincia
				</span>
				<input type="hidden" id="id_provincia" name="id_provincia" class="form-control">
				<div class="scroll-bar scrollbar-ripe-malinka" id="scroll-bar-countries">
					{{#each provincias}}
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input form-control"
							id="checks_provincias{{PROV_ID}}" name="checks_provincias" {{#if ischeck}} checked {{/if}}
							value="{{PROV_ID}}" onchange="chProvincia(this)">
						<label class="custom-control-label" for="checks_provincias{{PROV_ID}}">{{PROV_NOMBRE}}</label>
					</div>
					{{#if ischeck}}
					<input type="hidden" id="check_focus_provincia" value="checks_provincias{{PROV_ID}}">
					<script>
						var id_provincia = document.getElementById("check_focus_provincia").value;
						document.getElementById('id_provincia').value = document.getElementById(id_provincia).value;
						document.getElementById(id_provincia).focus({ preventScroll: false });
					</script> {{/if}}
					{{/each}}
				</div>
			</div>

			<div class="white m-2 p-2 rounded-lg">
				<span class="font-weight-bolder">
					<i class="indigo-text fas fa-map-marker-alt"></i>
					Cantón
				</span>
				<input type="hidden" id="id_canton" name="id_canton" class="form-control">
				<div class="scroll-bar scrollbar-ripe-malinka" id="scroll-bar-countries">
					{{#each cantones}}
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input form-control" id="checks_cantones{{CANT_ID}}"
							name="checks_cantones" {{#if ischeck}} checked {{/if}} value="{{CANT_ID}}"
							onchange="chCanton(this)">
						<label class="custom-control-label" for="checks_cantones{{CANT_ID}}">{{CANT_NOMBRE}}</label>
					</div>
					{{#if ischeck}}
					<input type="hidden" id="check_focus_canton" value="checks_cantones{{CANT_ID}}">
					<script>
						var id_canton = document.getElementById("check_focus_canton").value;
						document.getElementById('id_canton').value = document.getElementById(id_canton).value;
						document.getElementById(id_canton).focus({ preventScroll: false });
					</script> {{/if}}
					{{/each}}
				</div>
			</div>
			<div class="white m-2 p-2 rounded-lg">
				<span class="font-weight-bolder">
					<i class="indigo-text fas fa-map-marker-alt"></i>
					Zona
				</span>
				<input type="hidden" id="id_zona" name="id_zona" class="form-control">
				<div class="scroll-bar scrollbar-ripe-malinka" id="scroll-bar-countries">
					{{#each zonas}}
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input form-control" id="checks_zonas{{ZON_ID}}"
							name="checks_zonas" {{#if ischeck}} checked {{/if}} value="{{ZON_ID}}"
							onchange="chZona(this)">
						<label class="custom-control-label" for="checks_zonas{{ZON_ID}}">{{ZON_NOMBRE}}</label>
					</div>
					{{#if ischeck}}
					<input type="hidden" id="check_focus_zona" value="checks_zonas{{ZON_ID}}">
					<script>
						var id_zona = document.getElementById("check_focus_zona").value;
						document.getElementById('id_zona').value = document.getElementById(id_zona).value;
						document.getElementById(id_zona).focus({ preventScroll: false });
					</script> {{/if}}
					{{/each}}
				</div>
			</div>

			<div class="white m-2 p-2 rounded-lg">
				<span class="font-weight-bolder">
					<i class="indigo-text fas fa-list-ul"></i>
					Tipo de Inmueble
				</span>
				<input type="hidden" id="id_tipo" name="id_tipo" class="form-control">
				<div class="scroll-bar scrollbar-ripe-malinka">
					{{#each tipos_inmuebles}}
					<div class="custom-control custom-checkbox">
						<input type="checkbox" class="custom-control-input form-control" id="checks_tipos{{TIPINM_ID}}"
							name="checks_tipos" {{#if ischeck}} checked {{/if}} value="{{TIPINM_ID}}"
							onchange="chTipo(this)">
						<label class="custom-control-label"
							for="checks_tipos{{TIPINM_ID}}">{{TIPINM_DESCRIPCION}}</label>
					</div>
					{{#if ischeck}}
					<input type="hidden" id="check_focus_tipo" value="checks_tipos{{TIPINM_ID}}">
					<script>
						var id_tipzn = document.getElementById("check_focus_tipo").value;
						console.log(id_tipzn);
						document.getElementById('id_tipo').value = document.getElementById(id_tipzn).value;
						document.getElementById(id_tipzn).focus({ preventScroll: false });
					</script> {{/if}}
					{{/each}}
				</div>
			</div>

			<div class="white m-2 p-2 rounded-lg">
				<span class="font-weight-bolder">
					<i class="indigo-text fas fa-hand-holding-usd"></i>
					Precio
				</span>
				<div class="d-flex justify-content-between ">
					<!-- Material input -->
					<div class="md-form input-with-pre-icon">
						<i class="fas fa-dollar-sign input-prefix"></i>
						<input type="number" id="costo_min" name="costo_min" class="form-control" min="0"
							value="{{costo_min}}" onchange="chCosto()">
						<label for="costo_min">Min</label>
					</div>
					<div class="md-form input-with-pre-icon">
						<i class=" fas fa-dollar-sign input-prefix"></i>
						<input type="number" id="costo_max" name="costo_max" class="form-control" min="0"
							value="{{costo_max}}" onchange="chCosto()">
						<label for="costo_max">Max</label>
					</div>
				</div>
			</div>

			<div class="white m-2 p-2 rounded-lg">
				<span class="font-weight-bolder">
					<i class="indigo-text fas fa-expand-arrows-alt"></i>
					Área (m&sup2)
				</span>
				<div class="d-flex justify-content-between ">
					<!-- Material input -->
					<div class="md-form input-with-pre-icon ">
						<i class=" fas fa-layer-group input-prefix"></i>
						<input type="number" id="area_min" name="area_min" class="form-control" min="0"
							value="{{area_min}}" onchange="chArea()">
						<label for="area_min">Min</label>
					</div>
					<div class="md-form input-with-pre-icon">
						<i class=" fas fa-layer-group input-prefix"></i>
						<input type="number" id="area_max" name="area_max" class="form-control" min="0"
							value="{{area_max}}" onchange="chArea()">
						<label for="area_max">Max</label>
					</div>
				</div>
			</div>

			<div class="white m-2 p-2 rounded-lg">
				<span class="font-weight-bolder">
					<i class="indigo-text fas fa-bed"></i>
					Habitaciones
				</span>
				<div class="btn-toolbar justify-content-center" role="toolbar">
					<div class="btn-group " role="group">
						<button type="button submit" class="btn btn-light-green btn-sm" name="btn_habitaciones"
							value="1" {{#ifEquals btn.habitaciones 1}} disabled {{/ifEquals}}>1</button>
						<button type="button submit" class="btn btn-light-green btn-sm" name="btn_habitaciones"
							value="2" {{#ifEquals btn.habitaciones 2}} disabled {{/ifEquals}}>2</button>
						<button type="button submit" class="btn btn-light-green btn-sm" name="btn_habitaciones"
							value="3" {{#ifEquals btn.habitaciones 3}} disabled {{/ifEquals}}>3</button>
						<button type="button submit" class="btn btn-light-green btn-sm" name="btn_habitaciones"
							value="4" {{#ifEquals btn.habitaciones 4}} disabled {{/ifEquals}}>4+</button>
					</div>
				</div>
			</div>

			<div class="white m-2 p-2 rounded-lg">
				<span class="font-weight-bolder">
					<i class="indigo-text fas fa-bath"></i>
					Baños
				</span>
				<div class="btn-toolbar justify-content-center" role="toolbar">
					<div class="btn-group " role="group">
						<button type="button submit" class="btn btn-default btn-sm" name="btn_banos" value="1"
							{{#ifEquals btn.banos 1}} disabled {{/ifEquals}}>1</button>
						<button type="button submit" class="btn btn-default btn-sm" name="btn_banos" value="2"
							{{#ifEquals btn.banos 2}} disabled {{/ifEquals}}>2</button>
						<button type="button submit" class="btn btn-default btn-sm" name="btn_banos" value="3"
							{{#ifEquals btn.banos 3}} disabled {{/ifEquals}}>3</button>
						<button type="button submit" class="btn btn-default btn-sm" name="btn_banos" value="4"
							{{#ifEquals btn.banos 4}} disabled {{/ifEquals}}>4+</button>
					</div>
				</div>
			</div>

			<div class="white m-2 p-2 rounded-lg">
				<span class="font-weight-bolder">
					<i class="indigo-text fas fa-car"></i>
					Garajes
				</span>
				<div class="btn-toolbar justify-content-center" role="toolbar">
					<div class="btn-group" role="group">
						<button type="button submit" class="btn btn-pink btn-sm" name="btn_garajes" value="1"
							{{#ifEquals btn.garajes 1}} disabled {{/ifEquals}}>1</button>
						<button type="button submit" class="btn btn-pink btn-sm" name="btn_garajes" value="2"
							{{#ifEquals btn.garajes 2}} disabled {{/ifEquals}}>2</button>
						<button type="button submit" class="btn btn-pink btn-sm" name="btn_garajes" value="3"
							{{#ifEquals btn.garajes 3}} disabled {{/ifEquals}}>3</button>
						<button type="button submit" class="btn btn-pink btn-sm" name="btn_garajes" value="4"
							{{#ifEquals btn.garajes 4}} disabled {{/ifEquals}}>4+</button>
					</div>
				</div>
			</div>
			{{#if btn.habitaciones}}
			<input type="hidden" value="{{btn.habitaciones}}" class="form-control" name="bt_habitaciones">
			{{/if}}
			{{#if btn.banos}}
			<input type="hidden" value="{{btn.banos}}" class="form-control" name="bt_banos">
			{{/if}}
			{{#if btn.garajes}}
			<input type="hidden" value="{{btn.garajes}}" class="form-control" name="bt_garajes">
			{{/if}}
		</form>
	</div>
	<!-- Content -->
	<div class="content white border rounded pt-5 pl-2 pr-2 mb-5 ">
		<h5 class="font-weight-normal font-italic pl-2 pr-2 text-center">Búsqueda de Inmuebles</h5>
		<div class="row border rounded-lg p-2 ml-1 mr-1 mb-4 text-small">
			<div class="col-sm-6">
				<span class="font-weight-normal"><i class=" fas fa-shopping-cart"></i><b> Transacción:
					</b>{{filtro.transaccion}}</span>
			</div>
			<div class="col-sm-6">
				<span class="font-weight-normal"><i class="fas fa-list-ul"></i><b> Tipo de Inmueble: </b>{{filtro.tipo}}
				</span>
			</div>
			<div class="col-sm-6">
				<span class="font-weight-normal"><i class=" fas fa-hand-holding-usd"></i><b> Precio: </b> (min
					{{filtro.costo_min}}) - (max {{filtro.costo_max}})</span>
			</div>
			<div class="col-sm-6">
				<span class="font-weight-normal "><i class=" fas fa-expand-arrows-alt"></i><b> Área (m&sup2):</b> (min
					{{filtro.area_min}}) - (max {{filtro.area_max}})</span>
			</div>
			<div class="col-sm-4">
				<span class="font-weight-normal"><i class="fas fa-map-marked-alt"></i><b> Provincia:
					</b>{{filtro.provincia}}</span>
			</div>
			<div class="col-sm-4">
				<span class="font-weight-normal"><i class="fas fa-map-marked-alt"></i><b> Cantón: </b>{{filtro.canton}}
				</span>
			</div>
			<div class="col-sm-4">
				<span class="font-weight-normal"><i class="fas fa-map-marked-alt"></i><b> Zona: </b>{{filtro.zona}}</span>
			</div>

			<div class="col-sm-4">
				<span class="font-weight-bolder"><i class=" fas fa-bed"></i><b> Habitaciones: </b>{{filtro.habitaciones}}
				</span>
			</div>
			<div class="col-sm-4">
				<span class="font-weight-bolder"><i class=" fas fa-bath"></i><b> Baños: </b>{{filtro.banos}}</span>
			</div>
			<div class="col-sm-4">
				<span class="font-weight-bolder"><i class=" fas fa-car"></i><b> Garajes: </b>{{filtro.garajes}}</span>
			</div>
		</div>
		<table id="table_list">
			<thead>
				<tr>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each anuncios}}
				<tr>
					<td>
						<div
							class="card border {{#ifEquals ANUN_TIPO 'RECOMENDADO'}} back-principal{{/ifEquals}}  {{#ifEquals ANUN_TIPO 'PRINCIPAL'}}back-recomendado {{/ifEquals}}">
							<div class="row">
								<div class="col-sm-5">
									<!--Carousel Wrapper--> 
									<div id="carousel{{ANUN_ID}}" class="carousel slide carousel-fade mdb-color darken-3"
										data-ride="carousel">
										<!--Indicators-->
										<ol class="carousel-indicators">
											{{#each IMAGES}}
											<li data-target="#carousel{{../ANUN_ID}}" data-slide-to="{{POS}}"
												{{#ifEquals POS 0}} class="active" {{/ifEquals}}></li>
											{{/each}}
										</ol>
										<!--/.Indicators-->
										<!--Slides-->
										<div class="carousel-inner" role="listbox">
											{{#each IMAGES}}
											<div class="carousel-item {{#ifEquals POS 0}} active {{/ifEquals}}">
												<img class="d-block  mx-auto img-fluid"
													src="/anuncio_images/{{IMG_NOMBRE}}" style="height: 150px">
											</div>
											{{/each}}
										</div>
										<!--/.Slides-->
										<!--Controls-->
										<a class="carousel-control-prev" href="#carousel{{ANUN_ID}}" role="button"
											data-slide="prev">
											<span class="carousel-control-prev-icon" aria-hidden="true"></span>
											<span class="sr-only">Previous</span>
										</a>
										<a class="carousel-control-next" href="#carousel{{ANUN_ID}}" role="button"
											data-slide="next">
											<span class="carousel-control-next-icon" aria-hidden="true"></span>
											<span class="sr-only">Next</span>
										</a>
										<!--/.Controls-->
									</div>
									<!--/.Carousel Wrapper-->
									<div class="d-flex justify-content-between m-3">
										<span class="font-weight-bolder">
											<i class="deep-purple-text fas fa-expand-arrows-alt"></i>
											{{ANUN_TAMANO_TOTAL}} (m&sup2)
										</span>
										<span class="font-weight-bolder">
											<i class="light-green-text fas fa-bed"></i>
											{{ANUN_HABITACIONES}}
										</span>
										<span class="font-weight-bolder">
											<i class="light-blue-text fas fa-bath"></i>
											{{ANUN_BANOS}}
										</span>
										<span class="font-weight-bolder">
											<i class="pink-text fas fa-car"></i>
											{{ANUN_ESTACIONAMIENTO}}
										</span>
									</div>
									{{#ifEquals ANUN_TIPO 'RECOMENDADO'}}
									<span class="font-italic pl-2 pr-2 red text-white rounded-lg">PRINCIPAL</span>
									{{/ifEquals}}
									{{#ifEquals ANUN_TIPO 'PRINCIPAL'}}
									<span class="font-italic pl-2 pr-2 red text-white rounded-lg">RECOMENDADO</span>
									{{/ifEquals}}
								</div>
								<div class="col-sm-7">
									<div class="container-flex m-2">
										<a href="/anuncio/{{ANUN_ID}}" class="font-weight-bolder">{{ANUN_TITULO}}</a>
										<h3 class="font-weight-normal">USD {{ANUN_PRECIO}}</h3>
										<p class="font-weight-light"><i
												class="deep-orange-text fas fa-map-marker-alt"></i> {{ANUN_DIRECCION}}
										</p>
										<p class="font-weight-lighter description">{{ANUN_DESCRIPCION}} </p>
										<div class="d-flex justify-content-between">
											<p class="font-weight-light"><i
													class="blue-grey-text far fa-calendar-alt"></i> {{FECHA}}</p>
											<a href="/anuncio/{{ANUN_ID}}" type="button"
												class="btn btn-light-green rnd btn-sm">Contactar</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
				{{/each}}
			</tbody>
		</table>
	</div>
	<!-- Content -->
</div>