<div class="container">
    <div class="sidebar rounded-lg">
        <div class="header  elegant-color p-1">
            <h5 class="h5 text-white text-center">Panel Administracion</h5>
        </div>
        <div class="list-group list-group-flush pl-2 pr-2 pt-5 pb-5">
            <a href="/adminPanel" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-home mr-3"></i>Inicio
            </a>
            {{#ifEquals usuario.ADM_TIPO "PRINCIPAL"}}
            <a href="/administradores" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-users-cog mr-3"></i>Administradores</a>
            <a href="/componentes" class="list-group-item list-group-item-action waves-effect active">
                <i class="fas fa-plus-circle mr-3"></i>Administar Componentes
            </a>
            {{/ifEquals}}
            <a href="/adminblog" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-blog mr-3"></i>Blog
            </a>
            <a href="/adminAnuncios" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-briefcase mr-3"></i>Administrar Anuncios
            </a>
            <a href="/adminUsuarios" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-users mr-3"></i>Administrar Usuarios</a>
            <a href="/adminMensajes" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-headset mr-3"></i>Mensajes Usuarios</a>
            <a href="/llavesEnMano" class="list-group-item list-group-item-action waves-effect ">
                <i class="far fa-handshake mr-3"></i>Asesoria y Consultas</a>
            <a href="/denuncias" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-exclamation-triangle mr-3"></i>Denuncias</a>
            <a href="/adminCuenta" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-user mr-3"></i>Mi Cuenta</a>
            <a href="/logout" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-sign-out-alt mr-3"></i>Cerrar Sesión</a>
        </div>
    </div>
    <div class="content-p1 white rounded-lg pt-3 mb-5 border">
        <a type="button" class="btn btn-light-green btn-sm rnd mt-3" href="/provincias">Regresar</a>

        <div class="header pt-5">
            <h2 class="font-weight-normal font-italic text-center">Provincia de "{{provincia.PROV_NOMBRE}}"</h2>
        </div>
        <div class="d-flex justify-content-end mb-3">
            <button type="button" class="btn btn-indigo rnd btn-sm" data-toggle="modal"
                data-target="#modal_add_canton">Agregar</button>

        </div>
        <table class="table table-bordered mt-5" id="example">
            <thead>
                <tr>
                    <th>
                        <center>Cantón</center>
                    </th>
                    <th>
                        <center>Acción</center>
                    </th>
            </thead>
            <tbody>
                {{#each cantones}}
                <tr>
                    <td>{{CANT_NOMBRE}}</td>
                    <td>
                        <center>
                            <a href="/zonas/{{CANT_ID}}" type="button"
                                class="btn btn-light-green btn-sm rnd">Gestionar</a>
                            <button type="button" class="btn btn-blue-grey btn-sm rnd" data-toggle="modal"
                                data-target="#modal_edit_canton{{CANT_ID}}">Editar</button>
                            <button type="button" class="btn btn-danger btn-sm rnd" data-toggle="modal"
                                data-target="#modal_delete_canton{{CANT_ID}}">Eliminar</button>
                        </center>
                    </td>
                </tr>
                <!-- Modal -->
                <div class="modal fade" id="modal_edit_canton{{CANT_ID}}" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <form method="POST" action="/edit_canton">
                            <div class="modal-content">
                                <div class="modal-header elegant-color  justify-content-center">
                                    <h5 class="modal-title text-white">Editar Cantón</h5>
                                    <button type="button" class="close text-white" data-dismiss="modal"
                                        aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="md-form">
                                        <input type="text" id="CANT_NOMBRE" name="CANT_NOMBRE" class="form-control"
                                            value="{{CANT_NOMBRE}}" required>
                                        <label for="CANT_NOMBRE">Nombre</label>
                                    </div>
                                    <input type="hidden" class="form-control" name="CANT_ID" value="{{CANT_ID}}">
                                    <input type="hidden" class="form-control" name="PROV_ID"
                                        value="{{../provincia.PROV_ID}}">
                                </div>
                                <div class="modal-footer justify-content-center">
                                    <button type="button submit" class="btn btn-light-green btn-sm rnd">Editar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Central Modal Small -->
                <div class="modal fade" id="modal_delete_canton{{CANT_ID}}" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                    <!-- Change class.modal-sm to change the size of the modal -->
                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                        <form method="POST" action="/delete_canton">
                            <div class="modal-content">
                                <div class="modal-header danger-color">
                                    <h4 class="modal-title text-white ">Eliminar</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Esta seguro de eliminar este elemento?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light btn-sm"
                                        data-dismiss="modal">Cancelar</button>
                                    <input type="hidden" class="form-control" name="CANT_ID" value="{{CANT_ID}}">
                                    <input type="hidden" class="form-control" name="PROV_ID"
                                        value="{{../provincia.PROV_ID}}">
                                    <button type="button submit" class="btn btn-danger btn-sm">Borrar</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
                <!-- Central Modal Small -->
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal_add_canton" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header elegant-color  justify-content-center">
                <h5 class="modal-title text-white">Agregar Cantón</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="/add_canton">

                <div class="modal-body">
                    <div class="md-form">
                        <input type="text" id="CANT_NOMBRE" name="CANT_NOMBRE" class="form-control" required>
                        <label for="CANT_NOMBRE">Nombre</label>
                    </div>
                    <input type="hidden" class="form-control" name="PROV_ID" value="{{provincia.PROV_ID}}">

                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button submit" class="btn btn-light-green btn-sm rnd">Agregar</button>
                </div>
            </form>

        </div>
    </div>
</div>