<script>
    window.onload = function init_components() {
        init_map_registro();
    }

</script>
<div class="container">
    <div class="sidebar rounded-lg">
        <div class="header  elegant-color p-1">
            <h5 class="h5 text-white text-center">Mi Panel</h5>
        </div>
        <div class="list-group list-group-flush pl-2 pr-2 pt-5 pb-5">
            <a href="/panel" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-home mr-3"></i>Inicio
            </a>
            <a href="/addAnuncio" class="list-group-item list-group-item-action waves-effect active">
                <i class="fas fa-plus-circle mr-3"></i>Nuevo Anuncio
            </a>
            <a href="/listAnuncios" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-briefcase mr-3"></i>Administrar Anuncios
            </a>
            <a href="/listMensajes" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-envelope-open mr-3"></i>Mensajes</a>
            <a href="/contactar" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-headset mr-3"></i>Contáctese con Nosotros</a>
            <a href="/cuenta" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-user mr-3"></i>Mi Cuenta</a>
            <a href="/logout" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-sign-out-alt mr-3"></i>Cerrar Sesión</a>
        </div>
    </div>
    <div class="content-panel white border rounded-lg mb-5 pb-3 pl-3 pr-3">
        <div class="row d-flex text-center">
            <div class="header pt-5">
                <h2 class="font-weight-normal font-italic">Agregar Anuncio</h2>
            </div>
            <h5 class="font-weight-normal font-italic pl-2 pr-2 text-center">Agrega toda la información de tu inmueble
                para
                que sea publicado en nuestra página web</h5>
        </div>
        <form method="POST" action="/addAnuncio" enctype="multipart/form-data">
            <h6 class="font-weight-bolder text-white elegant-color rounded p-2 h6">Informacion general</h6>
            <div class="row border rounded-lg p-2 m-1">
                <div class="md-form input-group">
                    <div class="input-group-prepend">
                        <p class=" md-addon text-small">Título del Anuncio</p>
                    </div>
                    <input type="text" class="form-control text-small" name="ANUN_TITULO" required>
                </div>
                <div class="md-form input-group">
                    <div class="input-group-prepend">
                        <p class=" md-addon text-small">Descripción</p>
                    </div>
                    <textarea class="md-textarea form-control text-small" rows="5" name="ANUN_DESCRIPCION"
                        required></textarea>
                </div>
            </div>
            <h6 class="font-weight-bolder text-white elegant-color rounded p-2 h6">Datos del Inmueble</h6>
            <div class="row border rounded-lg p-2 m-1 text-small">
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col-md-6 pl-5 pr-5 pt-2">
                            <p class="text-center">Transacción</p>
                            <!-- Default unchecked -->
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input form-control" id="ch_venta"
                                    name="ANUN_TRANSACCION" value="VENTA" required>
                                <label class="custom-control-label" for="ch_venta">Venta</label>
                            </div>
                            <!-- Default checked -->
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input form-control" id="ch_arriendo"
                                    name="ANUN_TRANSACCION" value="ARRIENDO" required>
                                <label class="custom-control-label" for="ch_arriendo">Arriendo</label>
                            </div>
                        </div>
                        <div class="col-md-6 pt-2">
                            <p class="text-center">Tipo de nmueble</p>
                            <select class="browser-default custom-select form-control text-small" id="TIPINM_ID "
                                name="TIPINM_ID" required>
                                <option selected value="">Seleccione el tipo de Inmueble</option>
                                {{#each tipos_inmuebles}}
                                <option value="{{TIPINM_ID}}">{{TIPINM_DESCRIPCION}}</option>
                                {{/each}}
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <p class="text-center">Estado del Inmueble</p>
                            <select class="browser-default custom-select form-control text-small"
                                id="ANUN_ESTADO_CONSTR" name="ANUN_ESTADO_CONSTR">
                                <option selected value="">Seleccione el estado de Inmueble</option>
                                <option>Terreno</option>
                                <option>En planos</option>
                                <option>En construcción</option>
                                <option>Pre-venta</option>
                                <option>Venta</option>
                                <option>Arriendo</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 pl-3 pr-3 pt-2">
                    <p class="text-center">Tamaño</p>

                    <div class="md-form input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon"> <i class=" fas fa-expand-arrows-alt"></i></span>
                        </div>
                        <input type="number" class="form-control text-small" placeholder="Total"
                            name="ANUN_TAMANO_TOTAL" min="0" required pattern="[0-9]+"
                            title="Solo se aceptan numeros enteros" step="1">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon">m&sup2</span>
                        </div>
                        <div class="input-group-prepend">
                            <a data-mdb-toggle="tooltip" data-mdb-placement="right"
                                title="Solo se aceptan numeros enteros">
                                <i class="text-warning fas fa-info-circle"></i> </a>
                        </div>

                    </div>
                    <div class="md-form input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon"> <i class=" fas fa-expand-arrows-alt"></i></span>
                        </div>
                        <input type="number" class="form-control text-small" placeholder="Construcción"
                            name="ANUN_TAMANO_CONSTRUCCION" min="0" pattern="[0-9]+"
                            title="Solo se aceptan numeros enteros" step="1">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon">m&sup2</span>
                        </div>
                        <div class="input-group-prepend">
                            <a data-mdb-toggle="tooltip" data-mdb-placement="right"
                                title="Solo se aceptan numeros enteros">
                                <i class="text-warning fas fa-info-circle"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <h6 class="font-weight-bolder text-white elegant-color rounded p-2 h6">Costos</h6>
            <div class="row border rounded-lg p-2 m-1 text-small">
                <div class="col-md-6 pl-5 pr-5">
                    <p class=" text-center">Precio</p>
                    <div class="md-form input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon"> <i class=" fas fa-money-bill-alt"></i></span>
                        </div>
                        <input type="number" class="form-control text-small" name="ANUN_PRECIO" required min="0"
                            pattern="[0-9]+" title="Solo se aceptan numeros enteros" step="1">
                        <div class="input-group-prepend">
                            <a data-mdb-toggle="tooltip" data-mdb-placement="right"
                                title="Solo se aceptan numeros enteros">
                                <i class="text-warning fas fa-info-circle"></i> </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 pl-5 pr-5">
                    <p class="text-center">Alicuota/Condominio</p>
                    <div class="md-form input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text md-addon"> <i class=" fas fa-money-bill-alt"></i></span>
                        </div>
                        <input type="number" class="form-control text-small" name="ANUN_ALICUOTA" min="0"
                            pattern="[0-9]+" title="Solo se aceptan numeros enteros" step="1">
                        <div class="input-group-prepend">
                            <a data-mdb-toggle="tooltip" data-mdb-placement="right"
                                title="Solo se aceptan numeros enteros">
                                <i class="text-warning fas fa-info-circle"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <h6 class="font-weight-bolder text-white elegant-color rounded p-2 h6">Características <a
                    data-mdb-toggle="tooltip" data-mdb-placement="right" title="Solo se aceptan numeros enteros">
                    <i class="text-warning fas fa-info-circle"></i> </a></h6>
            <div class="row  border rounded-lg p-2 m-1 text-center text-small">
                <div class="col-sm-4">
                    <i class="grey text-white rounded-circle p-3 mb-1 fas fa-bed fa-2x"></i>
                    <input type="number" class="form-control w-50 mx-auto text-small" min="0" step="1"
                        name="ANUN_HABITACIONES" pattern="[0-9]+" title="Solo se aceptan numeros enteros" step="1">
                    <b>Habitaciones</b>
                </div>
                <div class="col-sm-4">
                    <i class="grey text-white rounded-circle p-3 mb-1 fas fa-bath fa-2x"></i>
                    <input type="number" class="form-control w-50 mx-auto text-small" min="0" step="1" name="ANUN_BANOS"
                        pattern="[0-9]+" title="Solo se aceptan numeros enteros" step="1">
                    <b>Baños</b>
                </div>
                <div class="col-sm-4">
                    <i class="grey text-white rounded-circle p-3 mb-1 fas fa-toilet fa-2x"></i>
                    <input type="number" class="form-control w-50 mx-auto text-small" min="0" step="1"
                        name="ANUN_M_BANOS" pattern="[0-9]+" title="Solo se aceptan numeros enteros" step="1">
                    <b>1/2 Baños</b>
                </div>
                <div class="col-sm-6 pt-3 pl-5 pr-5">
                    <i class="grey text-white rounded-circle p-3 mb-1 fas fa-car fa-2x"></i>
                    <input type="number" class="form-control w-50 mx-auto text-small" min="0" step="1"
                        name="ANUN_ESTACIONAMIENTO" pattern="[0-9]+" title="Solo se aceptan numeros enteros" step="1">
                    <b>Estacionamientos</b>
                </div>
                <div class="col-sm-6 pt-3 pl-5 pr-5">
                    <i class="grey text-white rounded-circle p-3 mb-1 fas fa-history fa-2x"></i>
                    <input type="number" class="form-control w-50 mx-auto text-small" min="0" step="1"
                        name="ANUN_ANTIGUEDAD" pattern="[0-9]+" title="Solo se aceptan numeros enteros" step="1">
                    <b>Antiguedad (Años)</b>
                </div>
            </div>
            <div class="row border rounded-lg p-2 m-1 text-small">
                <div class="col-sm-12">
                    <h6>Otros</h6>
                    {{#each grupos_caracteristicas}}
                    <h6>{{GRUP_DESCRIPCION}}</h6>
                    {{#each caracteristicas}}
                    <ul class="col-ch">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input form-control"
                                id="checks_caracteristicas{{CARACT_ID}}" name="CARACT_ID" value="{{CARACT_ID}}">
                            <label class="custom-control-label"
                                for="checks_caracteristicas{{CARACT_ID}}">{{CARACT_DESCRIPCION}}</label>
                        </div>

                    </ul>
                    {{/each}}
                    {{/each}}

                </div>
            </div>
            <h6 class="font-weight-bolder text-white elegant-color rounded p-2 h6">Ubicación</h6>
            <div class="row border rounded-lg p-2 m-1 text-small">
                <div class="col-sm-4">
                    <p class="text-center">Provincia</p>
                    <select class="browser-default custom-select form-control text-small" name="PROV_ID"
                        id="anuncio_provincia" onchange="select_provincia()" required>
                        <option selected value="">Seleccione la provincia</option>
                        {{#each provincias}}
                        <option value="{{PROV_ID}}">{{PROV_NOMBRE}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="col-sm-4">
                    <p class="text-center">Cantón</p>
                    <select class="browser-default custom-select form-control text-small" name="CANT_ID"
                        id="anuncio_canton" onchange="select_canton()" required>
                        <option value="" selected>Seleccione el cantón</option>
                    </select>
                </div>
                <div class="col-sm-4">
                    <p class="text-center">Zona</p>
                    <select class="browser-default custom-select form-control text-small" name="ZON_ID"
                        id="anuncio_zona" onchange="select_zona()" required>
                        <option value="" selected>Seleccione la Zona</option>
                    </select>
                </div>
                <div class="col-sm-12 pt-2">

                    <p class="pt-2">Localiza tu Inmueble en el mapa <a data-mdb-toggle="tooltip"
                            data-mdb-placement="right"
                            title="De click con el mouse en el lugar donde se ubica su inmueble">
                            <i class="text-warning fas fa-info-circle"></i> </a></p>
                    <div id="map-registro">

                    </div>
                    <br>
                    <p class="">Dirección <a data-mdb-toggle="tooltip" data-mdb-placement="right"
                            title="Ingrese manualmente la dirección exacta de su inmueble">
                            <i class="text-warning fas fa-info-circle"></i> </a></p>
                    <input type="text" class="form-control text-small" name="ANUN_DIRECCION" required>
                </div>
                <input type="hidden" class="form-control" name="ANUN_LATITUD" id="anuncio_latitud">
                <input type="hidden" class="form-control" name="ANUN_LONGITUD" id="anuncio_longitud">
            </div>
            <h6 class="font-weight-bolder text-white elegant-color rounded p-2 h6">Multimedia</h6>
            <div class="row border rounded-lg p-2 m-1 text-small">
                <div class="col-sm-12">
                    <h6>Imágenes de su Inmueble <a data-mdb-toggle="tooltip" data-mdb-placement="right"
                            title="Tener en cuenta que la primera imagen siempre será mostrada como la principal">
                            <i class="text-warning fas fa-info-circle"></i> </a></h6>
                    <label class="form-label" for="anuncio_images">Seleccione uno o más archivos de imagen</label>
                    <input type="file" class="form-control form-control-sm" id="anuncio_images" name="anuncio_images"
                        accept="image/x-png, image/gif, image/jpeg, image/jpg" required multiple
                        style="min-height: calc(1.6em + .75rem + 2px)!important;">

                    <hr>
                    <h6>Planos de su Inmueble (Opcional)</h6>
                    <label class="form-label" for="anuncio_planos">Seleccione uno o másarchivos de imagen</label>
                    <input type="file" class="form-control form-control-sm" id="anuncio_planos" name="anuncio_planos"
                        accept="image/x-png, image/gif, image/jpeg, image/jpg" multiple
                        style="min-height: calc(1.6em + .75rem + 2px)!important;">
                    <hr>
                    <div class="d-flex">
                        <h6 class="pt-2">Subir Video de Youtube</h6>
                        <button type="button" class="btn btn-info btn-sm rnd" data-toggle="modal"
                            data-target="#modal_subir">Cómo?</button>
                    </div>

                    <input type="text" class="form-control text-small" placeholder="ID Video" name="ANUN_EMBEBED">
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <button type="button submit" class="btn btn-sm btn-light-green rnd ">Publicar</button>
            </div>
        </form>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal_subir" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header mdb-color darken-3  justify-content-center">
                <h5 class="modal-title text-white"><i class="fas fa-question pr-2"></i>Cómo subir video de youtube?</h5>
                <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h6>1. Diríjase al navegador en la url del video</h6>
                <img src="/imagenes/in_1.png" class="img-fluid">
                <br>
                <br>
                <h6>2. Copie el código del video que esta a la derecha del "="</h6>
                <img src="/imagenes/in_2.png" class="img-fluid">
                <br>
                <br>
                <h6>3. Pegue el código en el campo indicado</h6>
                <img src="/imagenes/in_3.png" class="img-fluid">
                <hr>

                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-light-green btn-sm rnd" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>