<div class="container">
    <div class="sidebar rounded-lg">
        <div class="header  elegant-color p-1">
            <h5 class="h5 text-white text-center">Mi Panel</h5>
        </div>
        <div class="list-group list-group-flush pl-2 pr-2 pt-5 pb-5">
            <a href="/panel" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-home mr-3"></i>Inicio
            </a>
            <a href="/addAnuncio" class="list-group-item list-group-item-action waves-effect ">
                <i class="fas fa-plus-circle mr-3"></i>Nuevo Anuncio
            </a>
            <a href="/listAnuncios" class="list-group-item list-group-item-action waves-effect active">
                <i class="fas fa-briefcase mr-3"></i>Administrar Anuncios
            </a>
            <a href="/listMensajes" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-envelope-open mr-3"></i>Mensajes</a>
            <a href="/contactar" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-headset mr-3"></i>Contáctese con Nosotros</a>
            <a href="/cuenta" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-user mr-3"></i>Mi Cuenta</a>
            <a href="/logout" class="list-group-item list-group-item-action waves-effect">
                <i class="fas fa-sign-out-alt mr-3"></i>Cerrar Sesión</a>
        </div>
    </div>
    <div class="content-ls white rounded-lg mb-5  pl-2 pr-2 border">
        <div class="row d-flex text-center">
            <div class="header pt-5">
                <h2 class="font-weight-normal font-italic">Administrar Anuncios</h2>
            </div>
            <h5 class="font-weight-normal font-italic pl-2 pr-2 text-center">Mira, edita, bloquea o elimina tus anuncios
                de forma fácil y rápida</h5>
        </div>
        <table id="example">
            <thead>
                <tr>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each anuncios}}
                <tr>
                    <td>
                        <div class="card border">
                            <div class="row">
                                <div class="col-sm-5">
                                    <!--Carousel Wrapper-->
                                    <div id="carousel{{ANUN_ID}}" class="carousel slide carousel-fade mdb-color darken-3"
                                        data-ride="carousel">
                                        <!--Indicators-->
                                        <ol class="carousel-indicators">
                                            {{#each IMAGES}}
                                            <li data-target="#carousel{{../ANUN_ID}}" data-slide-to="{{POS}}"
                                                {{#ifEquals POS 0}} class="active" {{/ifEquals}}></li>
                                            {{/each}}
                                        </ol>
                                        <!--/.Indicators-->
                                        <!--Slides-->
                                        <div class="carousel-inner" role="listbox">
                                            {{#each IMAGES}}
                                            <div class="carousel-item {{#ifEquals POS 0}} active {{/ifEquals}}">
                                                <img class="d-block  mx-auto img-fluid"
                                                    src="/anuncio_images/{{IMG_NOMBRE}}" style="height: 150px">
                                            </div>
                                            {{/each}}
                                        </div>
                                        <!--/.Slides-->
                                        <!--Controls-->
                                        <a class="carousel-control-prev" href="#carousel{{ANUN_ID}}" role="button"
                                            data-slide="prev">
                                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Previous</span>
                                        </a>
                                        <a class="carousel-control-next" href="#carousel{{ANUN_ID}}" role="button"
                                            data-slide="next">
                                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                            <span class="sr-only">Next</span>
                                        </a>
                                        <!--/.Controls-->
                                    </div>
                                    <!--/.Carousel Wrapper-->
                                    <div class="d-flex justify-content-between m-3">
                                        <span class="font-weight-bolder">
                                            <i class="deep-purple-text fas fa-expand-arrows-alt"></i>
                                            {{ANUN_TAMANO_TOTAL}} (m&sup2)
                                        </span>
                                        <span class="font-weight-bolder">
                                            <i class="light-green-text fas fa-bed"></i>
                                            {{ANUN_HABITACIONES}}
                                        </span>
                                        <span class="font-weight-bolder">
                                            <i class="light-blue-text fas fa-bath"></i>
                                            {{ANUN_BANOS}}
                                        </span>
                                        <span class="font-weight-bolder">
                                            <i class="pink-text fas fa-car"></i>
                                            {{ANUN_ESTACIONAMIENTO}}
                                        </span>
                                    </div>

                                </div>
                                <div class="col-sm-7">
                                    <div class="row pt-2">
                                        <div class="col-sm-3">
                                            <p><b>Tipo: </b>{{ANUN_TIPO}}</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p><b>Vistas </b>{{ANUN_VISTAS}}</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p><b>Mensajes: </b>{{MENSAJES}}</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p><b>Estado: </b>{{ANUN_ESTADO}}</p>
                                        </div>
                                    </div>
                                    <div class="container">
                                        <a href="#" class="font-weight-bolder">{{ANUN_TITULO}}</a>
                                        <h3 class="font-weight-normal">USD {{ANUN_PRECIO}}</h3>
                                        <p class="font-weight-light"><i
                                                class="deep-orange-text fas fa-map-marker-alt"></i> {{ANUN_DIRECCION}}
                                        </p>
                                        <p class="font-weight-lighter description">{{ANUN_DESCRIPCION}} </p>
                                    </div>
                                </div>
                            </div>
                            <div class="row text-center m-1">
                                <div class="col-sm-4">
                                    <p class="font-weight-light ml-3"><i class="blue-grey-text far fa-calendar-alt"></i>
                                        {{FECHA}}</p>
                                </div>
                                <div class="col-sm-2 ">
                                    <a type="button" class="btn btn-info btn-sm rnd" href="/verAnuncio/{{ANUN_ID}}">Ver</a>
                                </div>
                                <div class="col-sm-2 ">
                                    <a type="button" class="btn btn-light btn-sm  rnd"
                                        href="/editAnuncio/{{ANUN_ID}}">Editar</a>
                                </div>
                                {{#ifEquals ANUN_ESTADO "ACTIVO"}}
                                <div class="col-sm-2 ">
                                    <button type="button" class="btn btn-elegant btn-sm rnd" data-toggle="modal"
                                        data-target="#bloquearModal{{../ANUN_ID}}">Bloquear</button>
                                </div>
                                 {{/ifEquals}}
                                 {{#ifEquals ANUN_ESTADO "BLOQUEADO"}}
                                <div class="col-sm-2 ">
                                    <button type="button" class="btn btn-secondary btn-sm rnd" data-toggle="modal"
                                        data-target="#activarModal{{../ANUN_ID}}">Activar</button>
                                </div>
                                 {{/ifEquals}}
                                <div class="col-sm-2">
                                    <button type="button" class="btn btn-danger btn-sm  rnd" data-toggle="modal"
                                        data-target="#eliminarModal{{ANUN_ID}}">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {{#ifEquals ANUN_ESTADO "ACTIVO"}}
                <!-- Central Modal Small -->
                <div class="modal fade" id="bloquearModal{{../ANUN_ID}}" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                    <!-- Change class.modal-sm to change the size of the modal -->
                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                        <form method="POST" action="/bloquearAnuncio">
                            <div class="modal-content">
                                <div class="modal-header warning-color">
                                    <h4 class="modal-title text-white ">Bloquear Anuncio</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Esta seguro de BLoquear el anuncio...?</p>
                                    <p>Si bloquea el anuncio no podra ser visible en la lista de anuncios y los
                                        interesados
                                        no se podran
                                        poner en contacto</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light btn-sm"
                                        data-dismiss="modal">Cancelar</button>
                                    <input type="hidden" class="form-control" name="ANUN_ID" value="{{../ANUN_ID}}">
                                    <button type="button submit" class="btn btn-warning btn-sm">Bloquear</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Central Modal Small -->
                 {{/ifEquals}}
                {{#ifEquals ANUN_ESTADO "BLOQUEADO"}}
                <!-- Central Modal Small -->
                <div class="modal fade" id="activarModal{{../ANUN_ID}}" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                    <!-- Change class.modal-sm to change the size of the modal -->
                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                        <form method="POST" action="/desbloquearAnuncio">
                            <div class="modal-content">
                                <div class="modal-header secondary-color">
                                    <h4 class="modal-title text-white ">Activar Anuncio</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Activar anuncio...?</p>
                                    <p>El anuncio podrá ser visible en la lista de anuncios y los
                                        interesados se podrán poner en contacto</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light btn-sm"
                                        data-dismiss="modal">Cancelar</button>
                                    <input type="hidden" class="form-control" name="ANUN_ID" value="{{../ANUN_ID}}">
                                    <button type="button submit" class="btn btn-secondary btn-sm">Activar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Central Modal Small -->
                 {{/ifEquals}}

                <!-- Central Modal Small -->
                <div class="modal fade" id="eliminarModal{{ANUN_ID}}" tabindex="-1" role="dialog"
                    aria-labelledby="myModalLabel" aria-hidden="true">
                    <!-- Change class.modal-sm to change the size of the modal -->
                    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
                        <form method="POST" action="/eliminarAnuncio">
                            <div class="modal-content">
                                <div class="modal-header danger-color">
                                    <h4 class="modal-title text-white ">Eliminar Anuncio</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p>Esta seguro de eliminar el anuncio...?</p>
                                    <p>Si elimina el anuncio se borraran todos los datos e imagenes registradas</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light btn-sm"
                                        data-dismiss="modal">Cancelar</button>
                                    <input type="hidden" class="form-control" name="ANUN_ID" value="{{ANUN_ID}}">
                                    <button type="button submit" class="btn btn-danger btn-sm">Borrar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- Central Modal Small -->
                {{/each}}
            </tbody>
        </table>
    </div>
</div>